{{define "title"}} Menu Order | {{index . "name"}} {{end}} {{define "body"}}
<!--<p>HOME AWAL</p> -->

<section class="bg-1 h-900x main-slider pos pos relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell center-text color-white">

                <h5><b>Pesan Saja</b></h5>
                <h1 class="mt-30 mb-15">Harga Merakyat Kualitas Ningrat </h1>
                <h5><a href="#" class="btn-primaryc plr-25"><b>Pilih Menu hari Ini</b></a></h5>
            </div>
        </div>
    </div>
</section>


<!--<p>MENU TAMPILAN BEST SELLER UNTUK DIPILIH DI MENU</p> -->
<section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"> </div>
    <div class="pos-top triangle-bottom"> </div>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="static/images/heading_logo.png" alt="">
            <h2> BEST SELLERS</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-30">
                    <div class="img-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont">
                            <div class="ribbon-primary"></div><b></b></h6>
                        <img src="static/images/icecreambanansplit.png" alt="">

                    </div>
                    <h5 class="mt-20">Ice Cream Banana Split </h5>
                    <h4 class="mt-5"><b>Rp.5000,00</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div>
            </div>

        </div>


        <!--<p>TOMBOL SUBMIT</p> -->
        <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a></h6>
    </div>
</section>

<section>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="static/images/heading_logo.png" alt="">
            <h2>Our Menu</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="selecton brdr-b-primary mb-70">
                    <li><a class="active" href="#" data-select=*><b>ALL</b></a></li>
                    <li><a href="#" data-select="food"><b>FOOD</b></a></li>
                    <li><a href="#" data-select="drink"><b>DRINK</b></a></li>
                    <li><a href="#" data-select="desert"><b>DESERT</b></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!--<p>MAKANAN</p> -->
            {{range .data}}
            <div class="col-md-6 food-menu {{.Jenis}}">
                <div class="sided-90x mv-30">
                    <div class="s-left"><img class="br-3" src="{{.URLGambar}}" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5 class="mb-10"><b>{{.NamaMenu}}</b><b class="color-primary float-right">Rp {{.Harga}},00</b></h5>
                        <p class="pr-70"> {{.Deskripsi}}</p>
                        <a href="/order?id={{.IDMenu}}&nama={{.NamaMenu}}&gambar={{.URLGambar}}" class="btn-brdr-primary plr-25"><b>ORDER</b></a>
                    </div>
                </div>
            </div>
            {{end}}




        </div>

    </div>

</section>
{{end}}