{{define "title"}} Menu Order | {{index . "name"}} {{end}} {{define "body"}}
<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="heading">
            <img src="{{.gambar}}" alt="" style="margin-top:100px;height:200px;width:200px;">
            <h2>{{.nama}}</h2>
            <h5 class="mt-10 mb-30">Silahkan Order Dengan Mengisi Data di Bawah Ini </h5>
        </div>

        <form class="form-style-1 placeholder-1" action="/TambahOrder" method="POST">
            <div class="row">
                <input name="id" class="mb20" type="hidden" value="{{.id}}">
                <div class="col-md-6"> <input name="NamaPemesan" class="mb-20" type="text" placeholder="Nama Pemesan"> </div>
                <div class="col-md-6"> <input name="Phone" class="mb-20" type="text" placeholder="Nomor Telephon"> </div>
                <div class="col-md-12"> <input name="JumlahPesan" class="mb-20" type="text" placeholder="Jumlah Pesanan"> </div>
                <div class="col-md-12"> <textarea name="Alamat" class="h-200x ptb-20" type="text" placeholder="Alamat"></textarea> </div>
            </div>
            <h6 class="center-text mtb-30"><button type="submit" class="btn-primaryc plr-25"><b>PESAN SEKARANG</b></button></h6>

        </form>
    </div>
</section>
{{end}}